body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}
.menu {
    display:flex;
    justify-content: center;
    align-items: center;

}
.menuAttr{
    margin:0 auto;
}
.menu-column{
    display:block;
}

.inputName {
    display: block;
    width: 200px;
    padding: 0 10px;
    height:30px;
    font-family: 'Roboto', sans-serif;
    background: none;
    border: 1px solid #4a90e2;
    transition: all 0.2s ease;
    margin:0 auto;
}
.isAllGames{
    margin-top:15px;
    text-align:center;
}
.startGameBtn {
    display:block;
    font-size:16px;
    color:#fff;
    background: rgb(212, 145, 20);
    border:0;
    width:150px;
    height:30px;
    margin:15px auto;
}
.startGameBtn:hover{
    cursor:pointer;
    background: rgb(212, 133, 25);

}
.spectateBtn {
    margin-left:5px;
    color:#fff;
    padding:5px;
    background: rgb(97, 108, 212);
    border:0;
}
.joinBtn{
    color:#fff;
    padding:5px;
    background: rgb(19, 212, 25);
    border:0;
}
.spectateBtn:hover, .joinBtn:hover {
    cursor:pointer;
}

td {
    padding:15px;
    text-align:center;
}
th{
    padding:15px;
    text-align:center;
}
.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    height: 28px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 28px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

.game-info p {
    text-align:center;
    font-size:18px;
    margin-bottom:30px;
}

.exitGame {
    margin-top:15px;
    text-align:center;
}
.exitBtn {
    font-size:16px;
    color:#fff;
    background:rgb(212,75,56);
    border:0;
    width:150px;
    height:30px;
}
.exitBtn:hover {
    cursor:pointer;
    background: rgb(232,95,76);
}

.chat {
    position:absolute;
    right:8%;
    top:15%;
    border:1px solid grey;
    height:400px;
    overflow:scroll;
    width:250px;
}
.chat::-webkit-scrollbar-track {border-radius: 4px;}
.chat::-webkit-scrollbar {width: 6px;}
.chat::-webkit-scrollbar-thumb {border-radius: 4px;background: #f0f2f5;}
.chat:hover::-webkit-scrollbar-thumb {background: #6a7d9b;}
.inputMessage {
    bottom:26%;
    width:250px;
    position:fixed;
}

.authorMessage {
    color:#808080;
    margin:5px;
}
.textMessage {
    margin:5px;
}